huggingface_hub==1.4.1
langchain==1.2.10
langchain-text-splitters==1.1.1
langchain-community==0.4.1
#langchain-huggingface==1.2.0
langchain-qdrant==1.1.0
qdrant-client==1.17.0
unstructured==0.18.32
unstructured[md]
yandexcloud==0.378.0
python-telegram-bot